{{> header}}
<h2>Customers</h2>
<table class="datatable">
    <thead>
        <tr>
            <th>Title</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Customer Level</th>
        </tr>
    </thead>
    <tbody>
    {{#customers}}
    <tr>
        <td>{{title}}</td>
        <td>{{firstName}}</td>
        <td>{{surname}}</td>
        <td>{{customerLevel}}</td>
    </tr>
    {{/customers}}
    </tbody>
</table>
{{> footer}}