<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AFJ Travel</title>
</head>
<body>
<h1>AFJ Travel Website</h1>
<h2>Customer {{customerName}}</h2>
<p><b>Contact Name:</b> {{customerContactName}}</p>
<p><b>Contact Email:</b> {{customerContactEmail}}</p>
</div>
</body>
</html>