<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AFJ Travel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
</head>
<body>
<h1>AFJ Travel Website</h1>
<a href="/quotes">Quotes</a>
<br \>
<a href="/customer">Customers</a>
</body>
</html>